@model List<CuaHangTapHoas.ViewModels.ThemTKViewModel>
@{
    ViewBag.Title = "ContentTK";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<main aria-labelledby="title" class="mx-3">
    <div class="card shadow-sm mt-2">
        <div class="card-body">
            <h4><i class="fa-solid fa-key text-success"></i> Tài khoản</h4>
        </div>
    </div>
    <div class="card mt-4 shadow-sm">
        <div class="card-body">
            <div class="d-flex justify-content-end mb-4">
                @*<a class="btn btn-primary" href="/Admin/Taikhoan/ThemTK" role="button"><i class="fa-solid fa-plus"></i> Thêm tài khoản</a>*@
                @*<a href="@Url.Action("ThemTK", "TaiKhoan")" class="btn btn-primary" role="button"><i class="fa-solid fa-plus"></i>Thêm Tài Khoản</a>*@
                <div class="d-flex gap-3 justify-content-end">
                    <!-- Search form -->
                    <form class="d-flex" role="search">
                        <input class="form-control me-2" type="search" placeholder="Tìm kiếm" aria-label="Search" name="searchString" value="@ViewBag.SearchString">
                        <button class="btn btn-outline-success" type="submit">Tìm</button>
                    </form>

                    <!-- Export to Excel button -->
                    <a href="@Url.Action("ExportToExcel", "TaiKhoan")" class="btn btn-success"><i class="fa-solid fa-download"></i> Xuất File Excel</a>
                </div>
            </div>
            <table class="table caption-top mt-4">
                <thead class="table-dark">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Tên tài khoản</th>
                        <th scope="col">Số điện thoại</th>
                        <th scope="col">Mật khẩu</th>
                        <th scope="col">Loại tài khoản</th>
                        <th scope="col">Thao tác</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <th scope="row">@item.maTaiKhoan</th>
                            <td>@item.tenDangNhap</td>
                            <td>@item.soDienThoai</td>
                            <td>@item.matKhau</td>
                            <td>@item.loaiTaiKhoan</td>
                            @*<td>
            @if (item.loaiTaiKhoan == "Admin") // Sửa từ 1 thành "Admin"
            {
                <span>Admin</span>
            }
            else if (item.loaiTaiKhoan == "Nhân viên") // Sửa từ 2 thành "Nhân viên"
            {
                <span>Nhân viên</span>
            }
        </td>*@
                            <td>
                                <a href="@Url.Action("EditTK", "TaiKhoan", new { id = item.maTaiKhoan })" class="btn btn-warning text-white">
                                    <i class="fa-solid fa-pen-to-square"></i>
                                </a>
                                <a href="@Url.Action("DeleteTK", "TaiKhoan", new { id = item.maTaiKhoan})" class="btn btn-danger text-white">
                                    <i class="fa-solid fa-trash-can"></i>
                                </a>

                                <a href="@Url.Action("DetailsTK", "TaiKhoan", new { id = item.maTaiKhoan })" class="btn btn-primary text-white">
                                    <i class="fa-solid fa-circle-exclamation"></i>
                                </a>
                            </td>
                        </tr>
                    }


                </tbody>
            </table>
            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-center">
                    <li class="page-item @(ViewBag.PageNumber == 1 ? "disabled" : "")">
                        <a class="page-link" href="@Url.Action("ContentLoaiSP", new { page = ViewBag.PageNumber - 1, searchString = ViewBag.SearchString })">Previous</a>
                    </li>
                    @for (int i = 1; i <= ViewBag.TotalPages; i++)
                    {
                        <li class="page-item @(ViewBag.PageNumber == i ? "active" : "")">
                            <a class="page-link" href="@Url.Action("ContentLoaiSP", new { page = i, searchString = ViewBag.SearchString })">@i</a>
                        </li>
                    }
                    <li class="page-item @(ViewBag.PageNumber == ViewBag.TotalPages ? "disabled" : "")">
                        <a class="page-link" href="@Url.Action("ContentLoaiSP", new { page = ViewBag.PageNumber + 1, searchString = ViewBag.SearchString })">Next</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>

</main>
