@model CuaHangTapHoas.ViewModels.NhaCungCapViewModel

@{
    ViewBag.Title = "XoaNCC";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<div>
    <div class="card shadow-sm mt-2 mx-3">
        <div class="card-body">
            <h4><i class="fa-solid fa-trash-can text-success"></i> Xóa nhà cung cấp</h4>
        </div>
    </div>
    <div class="card mt-4 shadow-sm mx-3">
        <div class="card-body">
            <h3>Bạn có chắc chắn muốn xóa nhà cung cấp này không?</h3>
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.tenNhaCungCap)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.tenNhaCungCap)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.soDienThoai)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.soDienThoai)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.diaChi)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.diaChi)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.email)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.email)
                </dd>

            </dl>

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="d-flex align-items-center mt-3 gap-3">
                    <div>
                        @Html.ActionLink("Trở về", "ContentNCC", "", new { @class = "btn btn-primary" })
                    </div>
                    <div class="form-actions no-color">
                        <input type="submit" value="Xóa nhà cung cấp" class="btn btn-danger" /> <br />

                    </div>
                </div>
            }
        </div>
    </div>
</div>