
@model List<CuaHangTapHoas.ViewModels.HoaDonViewModel>

@{
    ViewBag.Title = "ContentHD";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}


<main aria-labelledby="title" class="mx-3">
    <div class="card shadow-sm mt-2">
        <div class="card-body">
            <h4><i class="fa-solid fa-file-invoice text-success"></i> Hóa đơn</h4>
        </div>
    </div>
    <div class="card mt-4 shadow-sm">
        <div class="card-body">
            <div class="d-flex justify-content-between mb-4">
                @*<a class="btn btn-primary" href="/Admin/Taikhoan/ThemTK" role="button"><i class="fa-solid fa-plus"></i> Thêm tài khoản</a>*@
                <a href="@Url.Action("Create", "HoaDon")" class="btn btn-primary" role="button"><i class="fa-solid fa-plus"></i>Thêm hoa đơn</a>
                <div class="d-flex gap-3 justify-content-end">
                    <!-- Search form -->
                    <form class="d-flex" role="search">
                        <input class="form-control me-2" type="search" placeholder="Tìm kiếm" aria-label="Search" name="searchString" value="@ViewBag.SearchString">
                        <button class="btn btn-outline-success" type="submit">Tìm</button>
                    </form>

                    <!-- Export to Excel button -->
                    <a href="@Url.Action("ExportToExcel", "HoaDon")" class="btn btn-success"><i class="fa-solid fa-download"></i> Xuất File Excel</a>
                </div>
            </div>
            <table class="table caption-top mt-4">
                <thead class="table-dark">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Ngày lập</th>
                        <th scope="col">Tên tài khoản</th>
                        @*<th scope="col">Tên sản phẩm</th>
                            <th scope="col">Số lượng</th>*@
                        <th scope="col">Tổng tiền</th>
                        <th scope="col">Trạng thái</th>
                        <th scope="col">Thao tác</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <th scope="row">@item.maHoaDon</th>
                            <td>@item.NgayLap</td>
                            <td>@item.tenDangNhap</td>
                            @*<td>@item.diaChi</td>*@
                            @*<td>@item.tenSanPham</td>
                                <td>@item.soLuong</td>*@
                            <td>@item.TongTien</td>
                            <td>@item.TrangThai</td>
                            @*<td>
                                    @(item.luong != 0 ? item.luong.Value.ToString("C") : "Chưa xác định")
                                </td>*@



                            <td>
                                <a href="@Url.Action("Edit", "HoaDon", new { id = item.maHoaDon })" class="btn btn-warning text-white">
                                    <i class="fa-solid fa-pen-to-square"></i>
                                </a>
                                @*<a class="" href="/NhanVien/EditNV/@item.maNhanVien" role="button"><i class="fa-solid fa-pen-to-square"></i></a>*@
                                @*<a class="btn btn-danger" href="/NhanVien/DeleteNV/@item.maSanPham" role="button"><i class="fa-solid fa-trash-can"></i></a>*@
                                @*<a class="btn btn-primary" href="/DetailsNV/@item.maNhanVien" role="button"></a>*@
                            <a href="@Url.Action("ThanhToan", "HoaDon", new { id = item.maHoaDon })" class="btn btn-danger text-white">
                                <i class="fa-solid fa-money-check"></i>
                            </a>
                                <a href="@Url.Action("Details", "HoaDon", new { id = item.maHoaDon })" class="btn btn-primary text-white">
                                    <i class="fa-solid fa-circle-exclamation"></i>
                                </a>
                            </td>
                        </tr>
                    }


                </tbody>
            </table>
            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-center">
                    <li class="page-item @(ViewBag.PageNumber == 1 ? "disabled" : "")">
                        <a class="page-link" href="@Url.Action("ContentHD", new { page = ViewBag.PageNumber - 1, searchString = ViewBag.SearchString })">Previous</a>
                    </li>
                    @for (int i = 1; i <= ViewBag.TotalPages; i++)
                    {
                        <li class="page-item @(ViewBag.PageNumber == i ? "active" : "")">
                            <a class="page-link" href="@Url.Action("ContentHD", new { page = i, searchString = ViewBag.SearchString })">@i</a>
                        </li>
                    }
                    <li class="page-item @(ViewBag.PageNumber == ViewBag.TotalPages ? "disabled" : "")">
                        <a class="page-link" href="@Url.Action("ContentHD", new { page = ViewBag.PageNumber + 1, searchString = ViewBag.SearchString })">Next</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>

</main>

