@model CuaHangTapHoas.Models.LoaiSanPham

@{
    ViewBag.Title = "DetailsLoaiSP";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}


<div>
    <div class="card shadow-sm mt-2 mx-3">
        <div class="card-body">
            <h4><i class="fa-solid fa-circle-info text-success"></i> Chi tiết hóa đơn</h4>
        </div>
    </div>
    <div class="card mt-4 shadow-sm mx-3">
        <div class="card-body">
            <h4 class="text-center text-success">THÔNG TIN CHI TIẾT HÓA ĐƠN</h4>
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.tenLoaiSanPham)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.tenLoaiSanPham)
                </dd>

            </dl>
            <p>
                @Html.ActionLink("Trở về", "ContentLoaiSP", "", new { @class = "btn btn-primary" })
            </p>
            <div class="d-flex align-items-center gap-3 mt-3">

                @Html.ActionLink("Trở về", "ContentLoaiSP", "", new { @class = "btn btn-primary" })
                @Html.ActionLink("Sửa loại sản phẩm", "EditLoaiSP", "", new { id = Model.maLoaiSanPham }, new { @class = "btn btn-warning text-white" })
            </div>
        </div>
    </div>
</div>
        